@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-text-style {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}
.hero-glass {
        /* From https://css.glass */
    /* background: rgba(121, 11, 11, 0.89); */
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(121, 11, 11, 0.92);
}

.hero-gradient-bg {
    /* background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%); */
    /* border-radius: 50%; */
    background-image: linear-gradient(to top, #2f2f2f 0%, #0f0f0f 100%);
}